li{float: left;
    padding: 0px 30px;
    list-style: none;}
img{height: 26px;width: 160px;
     }
.yazi{width: 100%;
    float: left;
    left: -500px;
    top: 100px;}
.row{top: 10px;}

.kısım{top: 500px;}
