.alan{position: absolute;top: 2430px;height: 400px;background: #31353e;width: 100%;}
.css{width: 59.9%;height: 70px;left: 18.9%;position: absolute;bottom: 0px;background: #22252c;}
.telif{left:10px;top: 40%;position: relative;font-size: 15px;color: #636770;}

em{font-size: 20px;color: white;}

.son{float: left;padding: 0px 30px;position: relative;top: 0px;color: #636770; top: 100px;left: 13.4%;list-style: none;padding: 0px 70px;}
.tasarım{color: #636770;text-decoration: none;display: inline-block;}

h4{color:#3598db}
.fa-chrome{color:#3598db;}
.fa-twitter-square{color:#3598db;}
.fa-foursquare{color:#3598db;}
.fa-home{color:#3598db;}
.fa-phone{color:#3598db;}